{% extends 'base.html' %}


{% block title %}Boggle{% endblock %}

{% block content %}


<h1>Boggle</h1>

<div id="game-container" style="display:none">

<section id="msg-container"></section>
<div id="score-container"></div>

<section id="board-container">
    <table id="board"></table>
</section>

<section id="form-container">
<h2>Submit Your Guess!</h2>

<form action="">
    <label for="guess-form">Enter your guess:</label>
    <br>
    <input type="text" name="guess" placeholder="apple">
    <button>Submit</button>
</form>

</section>
</div>



<script type=text/javascript> const board = {{ board|tojson }}; </script>

{% endblock %}